GATEWAY_PORT=8080
IMAGERY_SERVICE_URL=http://imagery-service:8001
ANALYSIS_SERVICE_URL=http://analysis-service:8002
REPORT_SERVICE_URL=http://report-service:8003
REDIS_URL=redis://redis:6379/0

IMAGERY_DB_HOST=postgres-imagery
IMAGERY_DB_PORT=5432
IMAGERY_DB_NAME=imagery_db
IMAGERY_DB_USER=imagery_user
IMAGERY_DB_PASSWORD=imagery_pass

ANALYSIS_DB_HOST=postgres-analysis
ANALYSIS_DB_PORT=5432
ANALYSIS_DB_NAME=analysis_db
ANALYSIS_DB_USER=analysis_user
ANALYSIS_DB_PASSWORD=analysis_pass

REPORT_DB_HOST=postgres-report
REPORT_DB_PORT=5432
REPORT_DB_NAME=report_db
REPORT_DB_USER=report_user
REPORT_DB_PASSWORD=report_pass

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=localminio
MINIO_SECRET_KEY=localminio123
MINIO_REGION=eu-central-1
MINIO_BUCKET_IMAGERY=imagery
MINIO_BUCKET_HEATMAPS=heatmaps
MINIO_BUCKET_REPORTS=reports

CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2

